__pycache__/
*.pyc
*.egg-info/
dist/
.pytest_cache/
.ruff_cache/
.vscode/
outputs/*
!outputs/.gitkeep
analysis/experiment_data/*
analysis/visualize/outputs/*
!analysis/visualize/outputs/.gitkeep
menuscripts/$buildPath
legacy/
